.btn{
    background-color: $white;
    border-radius: 2px; 
    border:none;
    color: $primary;
    cursor: pointer;
    font-size: 12px;
    padding: 7px 10px 7px 10px;
    margin:10px;
    transition: color .3s ease;
    &:focus{
        outline: none;

    }
    &:hover{
        background-color:  darken($color: $white, $amount: 20%);
    }
   
}


.btn-block{
    width: 100%;
}

